p{
  color: #f00;
  text-align: center;
  border: 2px;
  font: 30px verdana, arial;   
  position: absolute;
  padding: 300px; 
  
}

body{
    background: #ddd;
    margin: 50px 500px;
    background-image: url('19591.jpg');   
    
}
ul.nav{
    margin: 0;
    padding: 0;
}
ul.nav li{
    list-style:none;
    display: inline;
}
ul.nav li a{
    float: left;
    border: 1px solid #f00;
    width: 6.0em;
    font: 0.68em verdana, arial, helvetica, sans-serif;
    background: #f1f1f1;
    color: #333333;
    text-align: center;
    padding: 0 0.2em 0.2em 0;
    text-decoration: none;

}
ul.nav a:hover{
    background: #999;
    color:#fff;
    border-color: #00f;

}